#result {
  display: none;

}
.lang {
  font-weight: bold;
}
.btn {
  padding: 6px;
  width:100%
  margin: auto;
  align:middle;
  font-weight: bolder;
  font-size: 40
}
.name {
  text-transform: capitalize;
}
#btnRow {
  align-items:center;
}
body {
}
